
body {
  background-color: #111;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}


h1 {
  font-size: 3em;
  letter-spacing: 1px;
}

p {
  font-size: 1.5em;
  line-height: 40px;
  opacity: .5;
}

header {
  margin: 90px 0;
}


footer {
  margin: 90px 0;
}
