
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: 900;
  }
  
  body {
    font-size: 16px;
    background-color: #e0ad94;
    overflow: hidden;
  }
  
  header {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  header a {
    margin-left: 2rem;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
  }
  
  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  main {
    background: #e0ad94;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
  }
  
  main img {
    width: 50vw;
    min-width: 250px;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }
  
  main h1 {
    position: absolute;
    padding: 10vw;
    width: 100%;
    font-size: 5rem;
    left: 0;
    color: white;
    z-index: 8;
  }
  